#div {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;
}

#div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
